In [1]:
list_of_students=['A','B','C','D','E']
import random
print('Brilliant Student is ',random.choice(list_of_students))

Brilliant Student is  D

In [3]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\swapnil\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\swapnil\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\swapnil\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\swapnil\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\swapnil\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\swapnil\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [5]:
import pandas as pd
renewable_sources = ["Solar", "Wind", "Hydropower", "Geothermal", "Biomass"]
renewable_series=pd.Series(renewable_sources)
print("Renewable Energy Sourses:")
print(renewable_series)

Renewable Energy Sourses:
0         Solar
1          Wind
2    Hydropower
3    Geothermal
4       Biomass
dtype: object

In [7]:
data = {
    "Project": ["Solar Farm A", "Wind Turbine X", "Hydropower Y", "Solar Roof Z", "Geothermal Plant P"],
    "Technology": ["Solar", "Wind", "Hydropower", "Solar", "Geothermal"],
    "Capacity (MW)": [150, 300, 200, 50, 100],  # Megawatts
    "Cost (Million $)": [200, 400, 350, 100, 250],  # Project cost
    "Location": ["California", "Texas", "Washington", "Nevada", "Idaho"],
    "Completion Year": [2023, 2024, 2022, 2025, 2023]
}
proj_df=pd.DataFrame(data)
print(proj_df)

              Project  Technology  Capacity (MW)  Cost (Million $)  \
0        Solar Farm A       Solar            150               200
1      Wind Turbine X        Wind            300               400
2        Hydropower Y  Hydropower            200               350
3        Solar Roof Z       Solar             50               100
4  Geothermal Plant P  Geothermal            100               250

     Location  Completion Year
0  California             2023
1       Texas             2024
2  Washington             2022
3      Nevada             2025
4       Idaho             2023

In [11]:
data = {
    "Project": ["Solar Farm A", "Wind Turbine X", "Hydropower Y", "Solar Roof Z", "Geothermal Plant P"],
    "Technology": ["Solar", "Wind", "Hydropower", "Solar", "Geothermal"],
    "Capacity (MW)": [150, 300, 200, 50, 100],  # Megawatts
    "Cost (Million $)": [200, 400, 350, 100, 250],  # Project cost
    "Location": ["California", "Texas", "Washington", "Nevada", "Idaho"],
    "Completion Year": [2023, 2024, 2022, 2025, 2023]
}
project_df=pd.DataFrame(data)
print("\nGreen technology projects Dataframe")
project_df.head(3)

Green technology projects Dataframe

,Project,Technology,Capacity (MW),Cost (Million $),Location,Completion Year
0,Solar Farm A,Solar,150,200,California,2023
1,Wind Turbine X,Wind,300,400,Texas,2024
2,Hydropower Y,Hydropower,200,350,Washington,2022

In [9]:
project_df.tail()

,Project,Technology,Capacity (MW),Cost (Million $),Location,Completion Year
0,Solar Farm A,Solar,150,200,California,2023
1,Wind Turbine X,Wind,300,400,Texas,2024
2,Hydropower Y,Hydropower,200,350,Washington,2022
3,Solar Roof Z,Solar,50,100,Nevada,2025
4,Geothermal Plant P,Geothermal,100,250,Idaho,2023

In [12]:
project_df[2:4]

,Project,Technology,Capacity (MW),Cost (Million $),Location,Completion Year
2,Hydropower Y,Hydropower,200,350,Washington,2022
3,Solar Roof Z,Solar,50,100,Nevada,2025

In [13]:
project_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Project           5 non-null      object
 1   Technology        5 non-null      object
 2   Capacity (MW)     5 non-null      int64
 3   Cost (Million $)  5 non-null      int64
 4   Location          5 non-null      object
 5   Completion Year   5 non-null      int64
dtypes: int64(3), object(3)
memory usage: 372.0+ bytes

In [14]:
project_df.dtypes

Project             object
Technology          object
Capacity (MW)        int64
Cost (Million $)     int64
Location            object
Completion Year      int64
dtype: object

In [15]:
project_df.shape

(5, 6)

In [16]:
project_df.columns

Index(['Project', 'Technology', 'Capacity (MW)', 'Cost (Million $)',
       'Location', 'Completion Year'],
      dtype='object')

In [18]:
project_df.describe()

       Capacity (MW)  Cost (Million $)  Completion Year
count        5.00000          5.000000         5.000000
mean       160.00000        260.000000      2023.400000
std         96.17692        119.373364         1.140175
min         50.00000        100.000000      2022.000000
25%        100.00000        200.000000      2023.000000
50%        150.00000        250.000000      2023.000000
75%        200.00000        350.000000      2024.000000
max        300.00000        400.000000      2025.000000

In [19]:
"""
count 
50% values  in capacity cols middle value is 150 
75% of sample will come under 75 values 
"""

'\ncount \n50% values  in capacity cols middle value is 150 \n75% of sample will come under 75 values \n'

In [27]:
print("List projects")
print(project_df,("Project"))

List projects
              Project  Technology  Capacity (MW)  Cost (Million $)  \
0        Solar Farm A       Solar            150               200
1      Wind Turbine X        Wind            300               400
2        Hydropower Y  Hydropower            200               350
3        Solar Roof Z       Solar             50               100
4  Geothermal Plant P  Geothermal            100               250

     Location  Completion Year
0  California             2023
1       Texas             2024
2  Washington             2022
3      Nevada             2025
4       Idaho             2023   Project

In [29]:
type(project_df)

pandas.core.frame.DataFrame

In [35]:
project_df.iloc[:,[1,4]]

   Technology    Location
0       Solar  California
1        Wind       Texas
2  Hydropower  Washington
3       Solar      Nevada
4  Geothermal       Idaho

In [36]:
project_df.iloc[:3,[1,4]]

   Technology    Location
0       Solar  California
1        Wind       Texas
2  Hydropower  Washington